/* <i class="fas fa-umbrella-beach"></i> */

.unitsPage-h1{
    /* width: 100%; */
    margin-top: 12.5px;
    text-align: center;
    font-size: xx-large;
}

.unit-div h3{
    text-align: center;
}


.unit-titel{
    font-size: large;
    text-decoration: none;
    color: black;
}
/* .unit-titel:hover{
    color: black;
    font-size: xx-large;
} */
.unit-titel:visited{
    color: black;

}

.unit-location{
    width: 100%;
}


.unit-headers{
    font-size: larger;
    margin-left: 25px;
}


.all-unit-container{
    max-width: 100%;
    /* margin set for regular screens */
    margin-left: 3.95%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.unit-div{
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 3%;
    margin-bottom: 13.5px;
    width: 360px;
    padding-bottom: 5px;
    margin-right: 20px;
}

.unit-div img{
    min-width: 100%;
    min-height: 250px;
    max-height: 250px;
}


.unit-item-container{
    display: flex;

}


.unit-item{
    margin-left: 5px;
}


.unit-descripiton-container{
    display: flex;
    flex-direction: column;
}


.unit-textbox{
    width: 85%;
}


#map-container{
    width: 100%;
}

#reviews-cont-height{
    height: 500px;
    background-color: blanchedalmond;
}

#reviews-username-title{
    position: relative;
    right: 30px;

}
#reviews-comment-title{
    position: relative;
    right: 80px;

}
#review-row{
    position: relative;
    right: 30px;
}

#row-1{
    margin-bottom: -11.8px;
}

#calendar-display{
    height: 330px;
    background-color: blanchedalmond;
}

#booking-dates-display{
    height: 330px;
    background-color: blanchedalmond;
}

footer{
    background-color: blanchedalmond;
    width: 100%;
}
