/* <i class="fas fa-umbrella-beach"></i> */

.unitsPage-h1{
    /* width: 100%; */
    margin-top: 12.5px;
    text-align: center;
    font-size: xx-large;
}

.unit-div h3{
    text-align: center;
}


.unit-titel{
    font-size: large;
    text-decoration: none;
    color: black;
}
/* .unit-titel:hover{
    color: black;
    font-size: xx-large;
} */
.unit-titel:visited{
    color: black;

}

.unit-location{
    width: 100%;
}


.unit-headers{
    font-size: larger;
    margin-left: 25px;
}


.all-unit-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
    padding: 15px;


}

.unit-div{
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 3%;
    margin-bottom: 13.5px;
    width: 360px;
}


.unit-item-container{
    display: flex;

}


.unit-item{
    margin-left: 5px;
}


.unit-descripiton-container{
    display: flex;
    flex-direction: column;
}


.unit-textbox{
    width: 85%;
}

/* #details-container{
    overflow: scroll;
} */
