

#splash-container{
    background-color: blanchedalmond;

}


#splash-footer{
    background-color: blanchedalmond;
}


#splash-umbrella-1{
    font-size: xx-large;
    padding-right: 8px;
}
#splash-umbrella-2{
    font-size: xx-large;
    padding-left: 6px;
}
