

#splash-container{
    background-color: blanchedalmond;
    padding-bottom: 80px;
    width: 55.75%;

}


#splash-footer{
    width: 55.75%;
    background-color: blanchedalmond;
}


#splash-umbrella-1{
    font-size: xx-large;
    padding-right: 8px;
}
#splash-umbrella-2{
    font-size: xx-large;
    padding-left: 6px;
}

#splash-img{
    height: 300px;
}

#splash-images-container{
    width: 55.75%;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}
