

#splash-container{
    background-color: blanchedalmond;
    padding-bottom: 80px;

}


#splash-footer{
    background-color: blanchedalmond;
}


#splash-umbrella-1{
    font-size: xx-large;
    padding-right: 8px;
}
#splash-umbrella-2{
    font-size: xx-large;
    padding-left: 6px;
}

#splash-images-div{
    display: flex;
    /* justify-content: center; */
    width: 50%;
    /* height: 450px; */
    /* justify-content: center; */
    overflow-x: scroll;

}


#splash-img{
    height: 300px;
    /* width: 1000px; */
}

#splash-images{
    display: flex;
    justify-content: center;
}

/*
#spl-test{
    width: 75%;
} */
