
.notSignedIn-container{
    position: relative;
    /* background-color: rgb(230, 135, 51); */
    background-color: rgb(230, 212, 185);
    padding:10px ;
    width: 100%
}

.nav-container{
    width:100%;
    display: flex;
    position: relative;
    /* background-color: rgb(230, 135, 51); */
    background-color: rgb(230, 212, 185);
    padding:10px ;
    justify-content: space-around;
}


.nav-notSignedIn{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
}


body{
    padding: 0px;
    margin: 0px;
    background-color:rgb(81, 187, 223);
    /* min-width: 100%; */
}

/* html{
    width: 100%;
} */

.navLink, .navLink:visited{
    text-decoration: none;
    color: black;
}


.profile-dropdown{
    text-align: center;
    list-style: none;
}
