.signup-div input{
    margin: 5px 5px;
}


.signup-form{
    padding: 70px;
    background-color: blanchedalmond;
    /* height: 350px; */
}

.signup-form input{
    background-color: white;
}

.signup-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: larger;
    /* height: 50px; */
}


.signup-submit{
    margin-top: 15px;
    font-size: 17px;
    width: 25%;

}
